
body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Black";
  font-weight: 900
}

h6 {
    color:#8f8f8f;
}
p {
  color: #8f8f8f;
   font-family: "Montserrat";
}

.blog-article p {
    font-size: 1.5em ;
    line-height: 1.4;
}


.row {

    padding: 5%;
}

aside {
    padding: 20px;
}

aside img {
    width: 95%;
    padding-bottom: 50px;
}


footer p {
    color: #ffffff;
}
/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 0% 0%;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 1rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}


/* Title Section */

#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 1% 5% 0%;
}



#respond {
    text-align: right;
    margin-top: 40px;
}

.blog-article {
 text-align: justify;
  text-justify: inter-word;
}

/* Type writer effect */
.typewriter {
  overflow: hidden; 
  border-right: .15em solid #ff4c68; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

/* Footer Section */



.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
